/* line 19, ../sass/style.scss */
* {
  zoom: 1;
}

/* line 23, ../sass/style.scss */
body {
  color: #FFFFFF;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
  position: absolute;
  margin: 0;
  font-weight: 200;
}

/* line 32, ../sass/style.scss */
ul {
  list-style: none;
}

/* line 36, ../sass/style.scss */
a {
  font-weight: 400;
  color: #FF4081;
  text-decoration: none;
}
/* line 41, ../sass/style.scss */
a:hover, a:focus {
  color: #F48FB1;
}

/* line 46, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 50, ../sass/style.scss */
footer {
  width: 100%;
  background-color: #3F51B5;
  height: 50px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}
/* line 56, ../sass/style.scss */
footer p {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  position: relative;
  top: 20px;
}

/* line 68, ../sass/style.scss */
.border, .circle {
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 77, ../sass/style.scss */
.card-shadow, .project, .desc-text, .frame {
  box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
  -webkit-box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
}

/* line 83, ../sass/style.scss */
.accent-text {
  color: #FF4081;
}

/* line 87, ../sass/style.scss */
#header {
  background-color: #3F51B5;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  box-shadow: 0 1px 8px rgba(49, 49, 64, 0.8);
}
/* line 97, ../sass/style.scss */
#header h1 {
  font-family: 'Oswald', sans-serif;
  float: left;
  padding: 12.5px 20px 12.5px 20px;
  margin: 0;
  font-size: 1em;
  line-height: 25px;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 112, ../sass/style.scss */
#header a {
  color: #FFFFFF;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  /* line 123, ../sass/style.scss */
  #name:hover, #name.clicked {
    background-color: #303F9F;
  }
}

/* line 131, ../sass/style.scss */
#navList {
  float: right;
  margin: 0;
}
@media screen and (min-width: 600px) {
  /* line 131, ../sass/style.scss */
  #navList {
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 131, ../sass/style.scss */
  #navList {
    display: none;
    position: fixed;
    left: 45px;
    top: 12.5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    z-index: 999999;
    text-align: left;
    box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
    -webkit-box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
    -moz-box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    padding: 16px;
    width: 192px;
  }
  /* line 155, ../sass/style.scss */
  #navList.show {
    display: block;
  }
}

/* line 161, ../sass/style.scss */
.navLink {
  float: left;
  margin: 0 30px 0 30px;
  height: 100%;
  line-height: 25px;
  padding: 12.5px 10px 12.5px 10px;
}
@media screen and (min-width: 600px) {
  /* line 168, ../sass/style.scss */
  .navLink:hover, .navLink.clicked {
    background-color: #303F9F;
  }
}
/* line 175, ../sass/style.scss */
.navLink:last-child {
  margin-right: 50px;
}
@media screen and (max-width: 600px) {
  /* line 175, ../sass/style.scss */
  .navLink:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 161, ../sass/style.scss */
  .navLink {
    display: block;
    height: 24px;
    margin: 0;
    padding: 16px 0;
    float: none;
    color: black !important;
    display: block !important;
  }
}

/* line 193, ../sass/style.scss */
#mobile-nav {
  height: 50%;
  float: left;
  position: relative;
  padding: 12.5px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  /* line 193, ../sass/style.scss */
  #mobile-nav {
    display: block;
  }
}

/* line 205, ../sass/style.scss */
.contactList {
  float: right;
  margin: 0;
  height: 100%;
}
/* line 209, ../sass/style.scss */
.contactList .contact {
  height: 100%;
  float: left;
  width: 45px;
  margin: 0;
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 10px;
}
/* line 219, ../sass/style.scss */
.contactList .contact img {
  width: 100%;
  vertical-align: middle;
  position: relative;
}
/* line 225, ../sass/style.scss */
.contactList .contact a {
  display: block;
  height: 100%;
  padding: 12.5px 10px;
}
/* line 231, ../sass/style.scss */
.contactList .contact:hover {
  background-color: #303F9F;
}
/* line 235, ../sass/style.scss */
.contactList .contact:last-child {
  margin-right: 50px;
}
@media screen and (max-width: 900px) {
  /* line 205, ../sass/style.scss */
  .contactList {
    display: none;
  }
}

/* line 245, ../sass/style.scss */
#about {
  background-color: #7986CB;
  width: 100%;
  padding-bottom: 50px;
  min-height: 100vh;
}
/* line 251, ../sass/style.scss */
#about img {
  width: 100%;
}

/* line 256, ../sass/style.scss */
.imgContainer {
  margin: auto;
  width: 20%;
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width: 900px) {
  /* line 256, ../sass/style.scss */
  .imgContainer {
    width: 180px;
  }
}

/* line 267, ../sass/style.scss */
#intro {
  width: 50%;
  position: relative;
  padding-top: 125px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}
@media screen and (max-width: 900px) {
  /* line 267, ../sass/style.scss */
  #intro {
    width: 80%;
  }
}

/* line 279, ../sass/style.scss */
#experience {
  background-color: #3F51B5;
  width: 100%;
  height: 100vh;
}

/* line 285, ../sass/style.scss */
#projects {
  background-color: #B6B6B6;
  background-image: url(../images/crossword.png);
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.75), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding-top: 5%;
  position: relative;
}
/* line 295, ../sass/style.scss */
#projects ul {
  width: 80%;
  margin: auto;
  padding: 0;
  overflow: auto;
}

/* line 303, ../sass/style.scss */
.project {
  width: 30%;
  margin: 1.5%;
  float: left;
  margin-bottom: 40px;
  border-radius: 2px;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 16px;
}
/* line 314, ../sass/style.scss */
.project img {
  width: 100%;
}
/* line 318, ../sass/style.scss */
.project h3 {
  color: #000A14;
  line-height: 1rem;
  margin-left: 16px;
  font-weight: 100;
}
/* line 325, ../sass/style.scss */
.project h4 {
  color: #000A14;
  font-style: italic;
  line-height: 1rem;
  margin: 10px;
}
/* line 332, ../sass/style.scss */
.project a {
  margin-left: 16px;
}
@media screen and (max-width: 900px) {
  /* line 303, ../sass/style.scss */
  .project {
    width: 47%;
  }
}
@media screen and (max-width: 600px) {
  /* line 303, ../sass/style.scss */
  .project {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 347, ../sass/style.scss */
.primary {
  color: #3F51B5;
}

/* line 351, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 355, ../sass/style.scss */
.under {
  text-decoration: underline;
}

/* line 359, ../sass/style.scss */
.circle {
  border-radius: 50%;
}

/* line 364, ../sass/style.scss */
.hidden {
  display: none !important;
}

/* line 368, ../sass/style.scss */
.project-desc {
  width: 100%;
  min-height: 100vh;
  background-color: #7986CB;
  display: none;
  padding: 10%;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 377, ../sass/style.scss */
.project-desc .container {
  width: 100%;
  height: 100%;
}
/* line 382, ../sass/style.scss */
.project-desc h1 {
  color: #212121;
  font-size: 20px;
}
/* line 387, ../sass/style.scss */
.project-desc p {
  color: #727272;
  font-size: 14px;
}

/* line 393, ../sass/style.scss */
.desc-text {
  padding: 16px;
  border-radius: 2px;
  width: 45%;
  margin-right: 5%;
  background-color: #FFFFFF;
  display: inline-block;
}
@media screen and (max-width: 900px) {
  /* line 393, ../sass/style.scss */
  .desc-text {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
}

/* line 410, ../sass/style.scss */
.desc-pictures {
  width: 45%;
  height: 100%;
  display: inline-block;
  float: right;
  margin: auto;
}
/* line 418, ../sass/style.scss */
.desc-pictures img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
@media screen and (max-width: 900px) {
  /* line 410, ../sass/style.scss */
  .desc-pictures {
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 20px;
  }
}

/* line 434, ../sass/style.scss */
.frame {
  float: left;
  margin-bottom: 10px;
}

/* line 440, ../sass/style.scss */
.buttons {
  margin-top: 5px;
  height: 48px;
  vertical-align: middle;
  display: table-cell;
  margin-left: -12px;
}
/* line 447, ../sass/style.scss */
.buttons a {
  padding: 0 8px 0 0;
  margin: 0 4px 0 0;
  height: 36px;
  min-width: 64px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* line 458, ../sass/style.scss */
.mid {
  padding-left: 8px;
  margin-left: 4px;
}
