$primary-color: #3F51B5;
$primary-color-dark: #303F9F;
$color-300: #7986CB;
$white: #FFFFFF;
$divider: #B6B6B6;
$black: #000A14;
$primary-text: #212121;
$secondary-text: #727272;
$break-small: 600px;
$break-medium: 900px;
$break-large: 1200px;

$accent-color: #FF4081;
$accent-color-light: #F48FB1;

$nav-padding: 12.5px 10px 12.5px 10px;
$nav-padding-hover: 4px 9px 4px 9px;

body {
	color: $white;
	font-family: 'Roboto', Helvetica, sans-serif;
	width:100%;
	position:absolute;
	margin:0;
	font-weight: 200;
}

ul {
	list-style:none;
}

a {
	font-weight:400;
	color: $accent-color;
	text-decoration:none;

	&:hover, &:focus {
		color:$accent-color-light;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}

footer {
	width:100%;
	background-color: $primary-color;
	height:50px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.75);

  p {
    text-transform: uppercase;
    font-size:10px;
    line-height: 10px;
    padding:0; margin:0;
    text-align: center;
    display:block;
    position:relative;
    top:20px;
  }

  .contactList {
    display:none;
  }
}

.border {
	border-style:solid;
	border-width:1px;
	border-color:$white;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.card-shadow {
	box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
	-webkit-box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(49, 49, 64, 0.4);
}

.accent-text {
	color: $accent-color;
}

#header {
	background-color: $primary-color;
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
	box-shadow: 0 1px 8px rgba(49, 49, 64, 0.8);

	h1 {
		font-family: 'Oswald', sans-serif;
		float:left;
		margin-left:20px;
		font-size:1em;
		vertical-align: middle;
	}

	a {
		color:$white;
	}

	#navList {
		float:right;
		margin:0;
		@media screen and (min-width: $break-small) {
			height:100%;
		}
		.navLink {
			float:left;
			padding: $nav-padding;
			margin: 0 30px 0 30px;
			line-height: 25px;

			&:hover, &.clicked {
				@media screen and (min-width: $break-small) {
					background-color: $primary-color-dark;
				}

			}

			&:last-child {
				margin-right: 50px;
				@media screen and (max-width: $break-small) {
					margin-right: 0;
				}
			}

			@media screen and (max-width: $break-small) {
				display:block;
				height:24px;
				margin:0;
				padding:16px 0;
				float:none;
				a {
					color:black;
				}
			}
		}
		@media screen and (max-width: $break-small) {
			display:none;
			position:fixed;
			left:45px;
			top:12.5px;
			background-color: white;
			color:rgba(0,0,0,0.87);
			z-index: 999999;
			text-align: left;
			box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
			-webkit-box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
			-moz-box-shadow: -1px -1px 4px rgba(49, 49, 64, 0.8);
			border-radius: 1px;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			padding:16px;
			width:192px;

			&.show {
				display:block;
			}
		}
	}

	#mobile-nav {
		height:50%;
		float:left;
		position:relative;
		padding: 12.5px;
		display:none;
		@media screen and (max-width: $break-small) {
			display:block;
		}
		cursor:pointer;
	}
}

.contactList {
	float:right;
	margin:0;
  height:100%;
	.contact {
    height:100%;
		float:left;
		width:25px;
		padding: $nav-padding;
		margin: 0;
		position:relative;
		top:0;
		display:inline-block;
		// cursor:pointer;
		img {
			width:100%;
			vertical-align:middle;
			position:relative;
		}

		a {
			display:block;
      height:100%;
		}

		&:hover {
			background-color: $primary-color-dark;
		}

		&:last-child {
			margin-right: 50px;
		}
	}

	@media screen and (max-width: $break-medium) {
		display:none;
	}
}

#about {
	background-color: $color-300;
	width:100%;
	padding-bottom: 50px;
	min-height:100vh;

	#intro {
		width:50%;
		position:relative;
		// top:25%;
		padding-top:125px;
		margin-left:auto; margin-right:auto;
		font-size:1.2rem;
		@media screen and (max-width: $break-medium) {
			width:80%;
		}
	}

	img {
		width:100%
	}

	.imgContainer {
		margin:auto;
		width:20%;
		// top:27%;
		margin-top:50px;
		position: relative;
		@media screen and (max-width: $break-medium) {
			width:180px;
		}
	}
}

#experience {
	background-color: $primary-color;
	width:100%;
	height:100vh;
}

#projects {
	background-color: $divider;
  background-image: url(../images/crossword.png);
  box-shadow: inset  0  4px 4px -4px rgba(0,0,0,0.75),
              inset  0 -4px 4px -4px rgba(0,0,0,0.75);
	width:100%;

	padding-top:5%;
  position:relative;

	ul {
		width:80%;
		margin:auto;
		padding:0;
		overflow:auto;
	}
	.project {
		@extend .card-shadow;
		width:30%;
		margin:1.5%;
		float:left;
		margin-bottom: 40px;
		border-radius:2px;
		background-color:$white;
		overflow:hidden;
		padding-bottom:16px;

		img {
			width:100%;
		}

		h3 {
			color:$black;
			line-height: 1rem;
			margin-left: 16px;
			font-weight: 100;
		}

		h4 {
			color:$black;
			font-style: italic;
			line-height: 1rem;
			margin:10px;
			// float:left;
		}

		// .expand-proj {
		// 	display:none;
		// }

		a {
			margin-left: 16px;
		}

		@media screen and (max-width:$break-medium) {
			width:47%;
		}

		@media screen and (max-width:$break-small) {
			width:100%;
			margin-left:0;
			margin-right: 0;
		}
	}
}

.primary {
	color: $primary-color;
}

.bold {
	font-weight: bold;
}

.under {
	text-decoration: underline;
}

.circle {
	@extend .border;
	border-radius:50%;
}

.project-desc {
	width:100%;
	min-height:100vh;
	background-color:$color-300;
	display:none;
	padding:10%;
	box-sizing:border-box;
  overflow:hidden;

	.container {
		width:100%;
		height:100%;

		.desc-text {
			@extend .card-shadow;
			padding:16px;
			border-radius:2px;
			width:45%;
			// height:100%;
			margin-right:5%;
			background-color:$white;
			display: inline-block;

			@media screen and (max-width: $break-medium) {
				width:100%;
				margin:auto;
				box-sizing:border-box;
			}
		}

		.desc-pictures {
			width:45%;
			// margin-left:5%;
			height:100%;
			display: inline-block;
			float:right;
      margin:auto;

      .frame {
        float:left;
        @extend .card-shadow;
        margin-bottom: 10px;
      }

			img {
				width:100%;
				height:100%;
				position:relative;
				top:0;
				left:0;
			}

			@media screen and (max-width: $break-medium) {
				width:100%;
				float:none;
				margin:auto;
				margin-top: 20px;
			}
		}
	}

	h1 {
		color: $primary-text;
		font-size: 20px;
	}

	p {
		color: $secondary-text;
		font-size: 14px;
	}
}

.buttons {
	margin-top:5px;
	height:48px;
	vertical-align: middle;
	display:table-cell;
	margin-left:-12px;

	a {
		padding:0 8px 0 0;
		margin:0 4px 0 0;
		height:36px;
		min-width:64px;
		text-align: center;
		vertical-align: middle;
		display: table-cell;

		&.mid {
			padding-left:8px;
			margin-left:4px;
		}
	}
}